<!-- Cabecera -->
<header id="header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a [routerLink]="['']" class="navbar-brand">
                Concesionario
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['']">Inicio</a></li>
                <li *ngIf="identity" ><a [routerLink]="['ccar']">Crear coche</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
                <li><a [routerLink]="['login']">Identificate</a></li>
                <li><a [routerLink]="['register']">Registrate</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="identity">
                <li><a [routerLink]="['perfil']">{{ identity.name }}</a></li>
                <li><a [routerLink]="['logout', 1]"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- Contenido -->
<router-outlet></router-outlet>